@import './mixins';

.reminders-list {
    list-style-type: none;
    li {
        display: flex;
        flex-direction: row;
        padding: .25rem;
        align-items: center;

        padding: .5rem;

        .reminder-text {
            background: $reminder-bg;
            font-size: $reminder-text-size-normal;
            border: 1px solid $border-color-dark;
            border-radius: 1rem;
            padding: .5rem;
            box-shadow: 1px 1px 2px $shadow-color-dark;
            overflow-wrap: break-word;
            min-width: 4rem;

            &:hover {
                box-shadow: inset 1px 1px 2px $shadow-color-dark;
                font-weight: weight(bold);
                cursor: pointer;
            }
        }
        .reminder-time {
            font-size: 1rem;
            margin-right: .5rem;
            align-self: center;
        }

        @media screen and ( max-width: $media-width-sm ) {
            padding-left: .25em;
            .reminder-time {
                min-width: 4em;
                background-color: $reminder-bg;
                font-size: $reminder-text-size-small;
                margin: 0;
                padding-left: .3em;
                padding-right: .3em;
                justify-content: center;
                border: 1px solid $border-color-dark;
                border-radius: .25em;
                &:hover {
                    cursor: pointer;
                }
            }
            .reminder-text {
                display: none;
            }
        }
    }
}